{{ define "main" }}
    <section class="article-list">
        {{/* Sort pages by 'projectWeight' param. Items without it are placed at the end. */}}
        {{ $paginator := .Paginate (.Pages.ByParam "projectWeight") }}
        {{ range $paginator.Pages }}
            {{/* Use the new project-card partial here */}}
            {{ partial "article-list/project-card" . }}
        {{ end }}
    </section>

    {{- partial "pagination.html" . -}}
    {{- partial "footer/footer" . -}}
{{ end }}

{{ define "right-sidebar" }}
    {{ partial "sidebar/right.html" (dict "Context" . "Scope" "homepage") }}
{{ end }}